<% @title = "A propos" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">A propos de <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose">A quoi sert <%= site_name %> ?<a href="#purpose">#</a> </dt>
    <dd>
      <%= site_name %> est une plateforme qui vous aide à demander l’accès à des 
      informations détenues par les autorités publiques.
    </dd>

    <dt id="autorite_publique">Qu'est-ce qu'une autorité publique ?<a href="#autorite_publique">#</a> </dt>
    <dd>
      Une autorité publique est une organisation publique ou un organisme privé exerçant une mission de service public. Ces organisations sont soumises au droit
       d'accès à l'information tel que défini dans le code des relations entre le public et l'administration.
      Quelques exemples : Communes, CPAS, Sociétés de logement social, Cabinets ministériels, Ministères publics, Syndicats intercommunaux,...).
    </dd>

    <dt id="premise">Comment cela fonctionne-t-il ? <a href="#premise">#</a> </dt>
    <dd>
      Choisissez l&apos;autorité publique à laquelle vous souhaitez demander des informations publiques 
      puis écrivez un message demandant les documents que vous souhaitez obtenir.
      Le site envoie votre demande en votre nom, mais en cachant votre adresse email.
      Vous recevrez un email lorsque l&apos;autorité aura répondu ou lorsque le délai de réponse 
      sera expiré (30 jours). Toutes les réponses reçues sont automatiquement publiées sur le site.
    </dd>

    <dt id="justification_demande">Dois-je donner une raison pour ma demande ? <a href="#justification_demande">#</a> </dt>
    <dd>
    Non. Il n&apos;est pas nécessaire d&apos;expliquer la raison de votre demande. Si vous ne savez pas comment rédiger votre demande, consultez <a href="https://madada.fr/demandes/abouties">quelques exemples</a>. Lorsque vous commencez votre demande, nous vous fournissons un modèle prérempli avec le jargon technique pour vous simplifier la tâche.
    </dd>

    <dt id="whybother_them">L'autorité publique est-elle tenue de répondre ? <a href="#whybother_them">#</a> </dt>
    <dd>
    <p>Oui (pour les demandes recevables)</p>
    <p>En vertu de la législation sur la Publicité de l'information, la plupart des autorités publiques 
      sont obligées de répondre aux demandes recevables. Ces obligations sont codifiées dans le code des relations entre le public et l'administration (<a target="blank" href="https://www.legifrance.gouv.fr/codes/id/LEGITEXT000031366350/">CRPA</a>.
      La réponse doit soit contenir les documents dont vous avez besoin, soit des explications sur les raisons pour lesquelles l’autorité ne peut ou 
      ne veut pas divulguer l’information demandée.</p>

      <p>Les documents administratifs communicables le sont en vertu de <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033218936">l’article L. 300-2 du CRPA</a>.
      Les articles <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033265181">L. 311-5</a> et <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037269056">L. 311-6</a> listent les exceptions à ce cas général.</p>
      <p>C’est en principe au demandeur que revient le choix du mode de communication. 
      Cela suppose qu’il ait pu identifier convenablement le document qu’il souhaite, qu’il ait formulé clairement et précisément sa demande,
      et qu’il ait indiqué dans quelles conditions il souhaite que s’effectue la communication.
      </p>
      <p>
      La loi n° 2016-1321 du 7 octobre 2016 pour une République numérique a introduit la mise en ligne sur internet du document sollicité comme modalité de communication possible.
      </p>
      <p>
      De plus, si l'administration possède une version électronique du document, elle doit vous l'envoyer dans un format facilement réutilisable (<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033205519">L. 300-4 du CRPA</a>), et ouvert (<a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164/">article 4 de la loi du 21 juin 2004 pour la confiance dans l'économie numérique</a>).
      </p>
    </dd>

    <dt id="reporting">Que faire si je découvre une demande qui me semble inapropriée ?<a href="#reporting">#</a></dt>
    <dd>
      <p>
      Les demandes d'informations personnelles ou les demandes vexatoires ne sont pas autorisées via la loi de Publicité de l'administration.
      </p>

      <p>
      Si vous pensez qu'une demande n'est pas appropriée, vous pouvez la signaler à l'attention des administrateurs du site.
      </p>
    </dd>

    <dt id="reporting_unavailable">Pourquoi il n'est plus possible de signaler certaines demandes ? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
        Si une requête a déjà été signalée aux administrateurs du site, il est impossible de la signaler à nouveau tant que la demande initiale est en cours de traitement.
      </p>

      <p>
        Si les administrateurs choisissent de laisser visible une demande 
        déjà signalée comme inappropriée, vous pouvez utiliser le formulaire 
        dans la barre latérale de la demande pour contacter les administrateurs, 
        au cas où vous estimez toujours qu'elle devrait être cachée.
      </p>
    </dd>

    <dt id="who">Qui s'occupe de <%= site_name %> ? <a href="#who">#</a> </dt>
    <dd>
    <p>
    <%= site_name %> fonctionne grâce aux membres de l'équipe MaDada, qui le maintiennent et l'améliorent quotidiennement, parfois avec votre aide et grâce à vos signalements. Le code source de MaDada est placé sous licence libre, et est entièrement disponible sur <a href="https://gitlab.com/madada-team">notre dépôt GitLab</a>. À son tour, le code source de MaDada est basé en très grande partie sur le logiciel libre <a href="http://alaveteli.org">Alaveteli</a>, créé et géré par l'association <a href="http://www.mysociety.org">mySociety</a>. Comme pour MaDada, Alaveteli a été décliné et adapté dans plusieurs pays du monde, donnant naîssance à des soeurs et frères de MaDada dans le monde entier :)
    </p> 
    <p>
    Si vous appréciez notre travail, vous pouvez contribuer en faisant un don à Open Knowledge Foundation France qui maintiens la plateforme MaDada, ou à <a href="https://www.mysociety.org/donate/">mySociety</a>, l'association qui maintient Alaveteli. Vous pouvez également donner de votre temps en contribuant autrement: traductions, support, communication, ... toute aide est bienvenue. N'hésitez pas à nous écrire à contact@madada.fr.
    </p>
    </dd>
    <dt id="updates">Comment puis-je rester au courant de l’actualité de <%= site_name %> ?<a href="#updates">#</a> </dt>
    <dd>Vous pouvez suivre le <a href="https://madada.fr/blog">blog</a> de MaDada. Vous pouvez également nous suivre sur les réseaux sociaux : 
    <ul> 
    <li> <a href="https://mamot.fr/@madadafr">notre compte Mastodon,</a> </li>
    <li> <a href="https://twitter.com/madadafr">notre compte Twitter,</a> </li>
    <li> <a href="https://aperi.tube/accounts/madada">notre chaîne vidéos PeerTube.</a> </li>
    </ul> 
    </dd>

  </dl>

  <p><strong>A suivre:</strong> en savoir plus sur <a href="<%= help_requesting_path %>">comment faire une demande --&gt;</a></p>

  <div id="hash_link_padding"></div>
</div>
